.info-container {
    background: linear-gradient(to bottom, #2c333e 63%, #020204 95%);
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    padding: 3% 5%;
}
.info-row {
    overflow: hidden;
}
.timeline-header {
    padding:1rem;
}
.header {
    font-size: 2em;
    text-align: center;
}
.header-main {
    font-size: 2.5em;
}
.info-panel {
    border-radius: .3rem;
    font-size: 1em;
}
.info-about {
    display: grid;
    text-align: left;
}
.info-about h3 {
    border-bottom:2px solid white;
}
.about-section {
    background: #232830;
    border-radius: .3rem;
    display: inline-block;
    margin: 1em 0;
    padding: 1em 1.2em;
    width: 100%;
}

.info-timeline {
    background: #232830;
    margin: 1em;
    padding: .5em 0;
}