 .projects-container {
    font-family: 'Source Code Pro', monospace;
    padding: 5%; 
}
 .projects-container .row {
    /* display: flex; */
    align-items: center;
    background: #2f3946a3;
    margin: 1em 0em;
    padding: 1em;
    text-align: left;
}
.project-content {
    padding: 1.5em;
}
.project-content button {
    margin-right: 1em;
}
.name {
    font-weight: bold;
    margin: 0;
}
.headline{
    font-weight: bold;
    font-size: 1.3em;
}
.stack {
    font-size: 1em;
    color: #f7cc71;
    border-bottom: white 2px solid;
    padding-bottom: .5em;
}
.project-description {
    color: whitesmoke
}
.project-img {
    display: flex;
    align-items: center;
    /* height: 17em;         */
    max-width: 400px;
    margin: 0 auto;
}
.img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
